<p style="color: green"><%= notice %></p>
<div class="container">
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<button type="button" class="btn btn-outline-primary"> <%= link_to "New post", new_post_path %> </button>
<button type="button" class="btn btn-outline-primary"><%= link_to "voltar", home_path %></button>

</div>
