<p style="color: green"><%= notice %></p>
<div class="container">
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

</div>
 <button type="button" class="btn btn-outline-primary"><%= link_to "Destroy this post", @post, method: :delete %></button> 

</div>